<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/novablog-logo.png" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-content flex min-h-screen flex-col items-center justify-start"
      >
        <!-- Page content here -->
        <%- include('partials/drawer-header', {user: user}) %>
        <!-- Page specific content goes here -->

        <!-- search bar -->
        <div class="flex min-w-full justify-center p-8">
          <div class="form-control w-full max-w-xl">
            <div class="input-group flex">
              <input
                type="text"
                placeholder="Search…"
                class="input input-bordered w-full flex-grow bg-base-200 text-primary"
                id="search-input"
              />

              <button
                id="search-button"
                class="btn btn-square flex-shrink-0 bg-primary text-primary-content hover:bg-primary-content hover:text-primary"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  />
                </svg>
              </button>
            </div>
            <div
              id="search-dropdown"
              class="dropdown hidden w-full bg-base-100 text-primary shadow-lg"
            ></div>
          </div>
        </div>

        <!-- Table -->
        <div id="tableContainer" class="h-full">
          <div class="overflow-x-auto">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Badges</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- Dynamically generate rows from cards data -->
                <% cards.forEach(function(card, index) { %>
                <tr>
                  <th>
                    <label>
                      <input
                        id="checkbox_<%= index %>"
                        value="<%= card._id %>"
                        type="checkbox"
                        class="checkbox-primary checkbox select-primary"
                      />
                    </label>
                  </th>
                  <td>
                    <div class="flex items-center gap-3">
                      <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                          <img src="<%= card.storagePath %>" alt="Card Image" />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold"><%= card.imageTitle %></div>
                        <div class="badge badge-secondary">NEW</div>
                      </div>
                    </div>
                  </td>
                  <td><%= card.description %></td>
                  <td>
                    <% card.tags.forEach(function(badge) { %>
                    <div class="badge badge-outline"><%= badge %></div>
                    <% }); %>
                  </td>
                  <th>
                    <button class="btn btn-ghost btn-xs">details</button>
                  </th>
                </tr>
                <% }); %>
              </tbody>
              <!-- foot -->
              <tfoot>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Badges</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <!-- Pagination Buttons -->
        <div class="m-8 flex justify-center">
          <div class="flex">
            <div class="join">
              <% if (currentPage - 1 > 1) {%>
              <a
                href="/dashboard?q=<%= cQuery %>&page=1"
                class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
                ><%= 1 %></a
              >
              <% } if (currentPage - 1 > 2) {%>
              <button
                class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
              >
                ...
              </button>
              <% } %> <% for(let i = currentPage - 1; i <= currentPage + 1 && i
              <= totalPages; i++) { if (i < 1) continue; %>
              <a
                href="/dashboard?q=<%= cQuery %>&page=<%= i %>"
                class="<%= currentPage === i ? 'btn-active' : '' %> bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
                ><%= i %></a
              >
              <% } if (currentPage + 2 <= totalPages) {%>
              <button
                class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
              >
                ...
              </button>
              <a
                href="/dashboard?q=<%= cQuery %>&page=<%= totalPages %>"
                class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
                ><%= totalPages %></a
              >
              <% } %>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div>
          <dialog id="my_modal_2" class="modal">
            <div class="modal-box">
              <div class="flex items-center justify-center bg-base-100">
                <div class="card w-full max-w-5xl bg-base-300 shadow-2xl">
                  <div class="card-body">
                    <h2 class="card-title text-center">Create Post</h2>
                    <div>
                      <div class="flex items-center gap-3">
                        <div class="avatar">
                          <div class="mask mask-squircle h-12 w-12">
                            <img
                              src="/images/default-profile.png"
                              alt="Card Image"
                            />
                          </div>
                        </div>
                        <div>
                          <div class="font-bold">tetete</div>
                          <div class="badge badge-secondary">NEW</div>
                        </div>
                      </div>
                    </div>
                    <form action="/blog/publish" method="POST">
                      <!-- Image Name -->
                      <div class="form-control">
                        <label class="label" for="title">
                          <span class="label-text">Post Title</span>
                        </label>
                        <input
                          type="text"
                          id="title"
                          name="title"
                          placeholder="Image Name"
                          class="input input-bordered"
                          required
                        />
                      </div>

                      <!-- Content -->
                      <div class="form-control">
                        <label class="label" for="content">
                          <span class="label-text">Post Content</span>
                        </label>
                        <textarea
                          id="content"
                          name="content"
                          placeholder="Post content"
                          class="textarea textarea-bordered"
                        ></textarea>
                      </div>

                      <!-- Flags -->
                      <div class="form-control">
                        <label class="label" for="flags">
                          <span class="label-text">Tags</span>
                        </label>
                        <input
                          type="text"
                          id="flags"
                          name="flags"
                          placeholder="e.g., sport, summer (comma separated)"
                          class="input input-bordered"
                        />
                      </div>

                      <!-- Image ID -->
                      <input
                        type="hidden"
                        id="image_id_form"
                        name="featuredImage"
                      />

                      <!-- Submit Button -->
                      <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
        </div>

        <%- include('partials/footer') %>
      </div>
      <div class="drawer-side z-50">
        <label
          for="my-drawer-2"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul class="menu min-h-full w-80 bg-base-200 p-4 text-base-content">
          <!-- Sidebar content here -->

          <div class="xl:hidden">
            <li><a href="/homepage">Homepage</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about%20us">About us</a></li>
          </div>

          <li>
            <a href="/image/upload" class="btn btn-outline mt-8"
              >Upload New Image</a
            >
          </li>
          <li>
            <button id="deleteSelected" class="btn btn-outline mt-4">
              Delete Selected
            </button>
          </li>

          <li>
            <a onclick="checkAndShowModal()" class="btn btn-outline mt-4"
              >Create new post</a
            >
          </li>
          <li>
            <form
              id="editImageForm"
              action="/image/editor"
              method="POST"
              class="hidden"
            >
              <input id="image_id_editor_form" name="image_id" type="hidden" />
            </form>
            <button id="editImageButton" class="btn btn-outline mt-4">
              Edit Image
            </button>
          </li>
        </ul>
      </div>
    </div>

    <script type="module" src="/js/dashboard.js"></script>
    <script type="module" src="/js/search-recommendations.js"></script>
    <script type="module" src="/js/delete-images.js"></script>
    <script type="module" src="/js/dashboard-forms.js"></script>
  </body>
</html>
