<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/novablog-logo.png" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {user: user}) %>
    <!-- Page specific content goes here -->

    <!-- search bar -->
    <div class="flex justify-center p-8">
      <div class="form-control w-full max-w-xl">
        <div class="input-group flex">
          <input
            type="text"
            placeholder="Search…"
            class="input input-bordered w-full flex-grow bg-base-200 text-primary"
            id="search-input"
          />

          <button
            id="search-button"
            class="btn btn-square flex-shrink-0 bg-primary text-primary-content hover:bg-primary-content hover:text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
        <div
          id="search-dropdown"
          class="dropdown hidden w-full bg-base-100 text-primary shadow-lg"
        ></div>
      </div>
    </div>

    <!-- carousel -->
    <div class="flex justify-center">
      <div class="carousel w-64 rounded-box md:hidden">
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
        <div class="carousel-item w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component"
          />
        </div>
      </div>

      <div class="carousel hidden w-full md:flex">
        <div id="slide1" class="carousel-item relative w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.jpg"
            class="w-full"
          />
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide4" class="btn btn-circle">❮</a>
            <a href="#slide2" class="btn btn-circle">❯</a>
          </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.jpg"
            class="w-full"
          />
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide1" class="btn btn-circle">❮</a>
            <a href="#slide3" class="btn btn-circle">❯</a>
          </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1414694762283-acccc27bca85.jpg"
            class="w-full"
          />
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide2" class="btn btn-circle">❮</a>
            <a href="#slide4" class="btn btn-circle">❯</a>
          </div>
        </div>
        <div id="slide4" class="carousel-item relative w-full">
          <img
            src="https://daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.jpg"
            class="w-full"
          />
          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            <a href="#slide3" class="btn btn-circle">❮</a>
            <a href="#slide1" class="btn btn-circle">❯</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards -->
    <div class="flex flex-wrap justify-center p-8">
      <% cards.forEach(function(card, index) { %> <% if (index < 12) { %>
      <!-- Check to ensure only 12 cards are rendered -->
      <div class="flex p-4">
        <div
          class="card w-96 rounded-lg border border-base-content bg-base-300 shadow-xl"
        >
          <figure>
            <img src="<%= card.imgSrc %>" alt="Card Image" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              <%= card.title %>
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p><%= card.description %></p>
            <div class="card-actions justify-end">
              <% card.badges.forEach(function(badge) { %>
              <div class="badge badge-outline"><%= badge %></div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% }); %>
    </div>

    <%- include('partials/footer') %>

    <script type="module" src="/js/search-form.js"></script>
    <script type="module" src="/js/search-recommendations.js"></script>
  </body>
</html>
