<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/novablog-logo.png" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-content flex min-h-screen flex-col items-center justify-start"
      >
        <!-- Page content here -->
        <%- include('partials/drawer-header', {user: user}) %>

        <!-- Before and After view setup -->
        <div
          class="my-8 flex w-full flex-col items-center justify-center px-8 lg:flex-row"
        >
          <!-- Before -->
          <div class="flex h-full">
            <div class="card w-full bg-base-300 shadow-xl">
              <div class="card-body">
                <h2 class="card-title"><%= image.imageTitle %></h2>
                <p><%= image.description %></p>
                <div class="divider"></div>
                <div class="flex justify-evenly">
                  <% image.tags.forEach(function(badge) { %>
                  <div class="badge badge-secondary"><%= badge %></div>
                  <% }); %>
                </div>
              </div>
              <figure class="flex min-w-[300px]">
                <img
                  src="<%= image.storagePath %>"
                  alt="Image"
                  class="h-auto w-full"
                />
              </figure>
            </div>
          </div>
          <div
            class="divider divider-primary text-primary lg:divider-horizontal"
          >
            TO
          </div>
          <!-- After -->
          <div class="flex h-full items-center justify-center">
            <div class="card w-full bg-base-300 shadow-xl">
              <form id="imageForm" class="card-body" method="post" action="">
                <!-- Title Input -->
                <input
                  type="text"
                  name="imageTitle"
                  class="input input-bordered w-full max-w-xs"
                  placeholder="New Title"
                  value="<%= image.imageTitle %>"
                />
                <!-- Description Textarea -->
                <textarea
                  name="description"
                  class="textarea textarea-bordered my-4 w-full"
                  placeholder="New Description"
                >
<%= image.description %></textarea
                >

                <div class="divider"></div>
                <!-- Tags Input -->
                <input
                  type="text"
                  name="tags"
                  class="input input-bordered w-full max-w-xs"
                  placeholder="comma, separated, tags"
                  value="<%= image.tags.join(', ') %>"
                />
                <!-- hidden image info -->
                <input type="hidden" name="image_id" value="<%= image._id %>" />
                <input
                  type="hidden"
                  name="storagePath"
                  value="<%= image.storagePath %>"
                />
              </form>
              <figure class="flex min-w-[300px]">
                <img
                  src="<%= image.storagePath %>"
                  alt="Image"
                  id="imageFormDisplay"
                  class="h-auto w-full"
                />
              </figure>
            </div>
          </div>
        </div>

        <div class="join flex justify-center">
          <div class="my-8 flex pr-4">
            <button id="SaveAsNewButton" class="btn btn-primary" type="button">
              Save As New Image
            </button>
          </div>
          <div class="my-8 flex pl-4">
            <button
              id="SaveChangesButton"
              class="btn btn-primary"
              type="button"
            >
              Save changes to original
            </button>
          </div>
        </div>

        <%- include('partials/footer') %>
      </div>
      <div class="drawer-side z-50">
        <label
          for="my-drawer-2"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul class="menu min-h-full w-80 bg-base-200 p-4 text-base-content">
          <!-- Sidebar content here -->

          <div class="xl:hidden">
            <li><a href="/homepage">Homepage</a></li>
            <li><a href="/users/dashboard">Dashboard</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about%20us">About us</a></li>
          </div>

          <li>
            <a id="applyGrayscaleButton" class="btn btn-outline mt-8"
              >Grayscale</a
            >
          </li>
          <li>
            <a id="applyInvertButton" class="btn btn-outline mt-8">Invert</a>
          </li>
        </ul>
      </div>
    </div>

    <script>
      localStorage.setItem("oImageId", "<%= image._id %>");
    </script>
    <script type="module" src="/js/image-editor.js"></script>
  </body>
</html>
