<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/novablog-logo.png" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {user: user}) %>
    <!-- Page specific content goes here -->

    <!-- search bar -->
    <div class="flex justify-center p-8">
      <div class="form-control w-full max-w-xl">
        <div class="input-group flex">
          <input
            type="text"
            placeholder="Search…"
            class="input input-bordered w-full flex-grow bg-base-200 text-primary"
            id="search-input"
          />

          <button
            id="search-button"
            class="btn btn-square flex-shrink-0 bg-primary text-primary-content hover:bg-primary-content hover:text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
        <div
          id="search-dropdown"
          class="dropdown hidden w-full bg-base-100 text-primary shadow-lg"
        ></div>
      </div>
    </div>

    <!-- Cards -->
    <div class="flex flex-wrap justify-center p-8">
      <% cards.forEach(function(card, index) { %>
      <!-- Check to ensure only 12 cards are rendered -->
      <div class="flex p-4">
        <div
          class="card w-96 rounded-lg border border-base-content bg-base-300 shadow-xl"
          onclick="showImageModal('<%= card.storagePath %>')"
        >
          <figure class="flex h-64">
            <img
              src="<%= card.storagePath %>"
              class="h-full w-auto"
              alt="Card Image"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              <%= card.imageTitle %> <% if (card.isRecent) { %>
              <div class="badge badge-secondary">NEW</div>
              <% } %>
            </h2>
            <p><%= card.description %></p>
            <div class="card-actions justify-end">
              <% card.tags.forEach(function(badge) { %>
              <div class="badge badge-outline"><%= badge %></div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <!-- Pagination Buttons -->
    <div class="m-8 flex justify-center">
      <div class="flex">
        <div class="join">
          <% if (currentPage - 1 > 1) {%>
          <a
            href="/search?q=<%= cQuery %>&page=1"
            class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
            ><%= 1 %></a
          >
          <% } if (currentPage - 1 > 2) {%>
          <button
            class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
          >
            ...
          </button>
          <% } %> <% for(let i = currentPage - 1; i <= currentPage + 1 && i <=
          totalPages; i++) { if (i < 1) continue; %>
          <a
            href="/search?q=<%= cQuery %>&page=<%= i %>"
            class="<%= currentPage === i ? 'btn-active' : '' %> bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
            ><%= i %></a
          >
          <% } if (currentPage + 2 <= totalPages) {%>
          <button
            class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
          >
            ...
          </button>
          <a
            href="/search?q=<%= cQuery %>&page=<%= totalPages %>"
            class="bg:hover:bg-primary-content btn join-item bg-primary text-primary-content hover:text-primary"
            ><%= totalPages %></a
          >
          <% } %>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <dialog id="my_modal" class="modal">
      <div class="modal-box">
        <img id="modalImage" src="" alt="image" class="h-full w-full" />
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>

    <%- include('partials/footer') %>

    <script type="module" src="/js/search-form.js"></script>
    <script type="module" src="/js/search-recommendations.js"></script>
    <script>
      // Function to display the modal and set the image
      function showImageModal(imageSrc) {
        document.getElementById("modalImage").src = imageSrc;
        document.getElementById("my_modal").showModal();
      }
    </script>
  </body>
</html>
